body {
    margin: 0;
    padding: 0;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}

header {
    display: flex;
    background: #7958ff;
    color: white;
    padding-left: 1.5rem;
}

.btn {
    background: #7958ff;
    color: white;
    border: 0px;
    font-size: 1.5rem;
    padding: 0.4rem 0.8rem;
    border-radius: 1.2rem;
    align-self: flex-end;
    margin-bottom: 0.5rem;
}
.btn:hover {
    cursor: pointer;
}

.btn:disabled {
    background: gray;
    cursor: not-allowed;
}

.container {
    display: flex;
    margin-top: 4rem;
    min-height: 30rem;
}

.input-container {
    width: 60%;
    padding: 1rem;
    background: rgb(237, 237, 237);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border: 2px solid #7958ff;
    border-radius: 1rem;
}

.display-container {
    width: 30%;
    padding: 1rem;
    background: rgb(237, 237, 237);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border: 2px solid #7958ff;
    border-radius: 1rem;
}

.input-item {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0.5rem 0;
}

span {
    width: 5%;
    padding: 0.5rem;
}

span:hover {
    cursor: all-scroll;
}

input {
    border: 2px solid #7958ff;
    border-radius: 0.8rem;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    width: 80%;
}

.video-container{
    display: flex;
    align-items: flex-start;
}

iframe {
    border: 2px solid #7958ff;
    border-radius: 1rem;
    margin: 0 auto;
    width: 75%;
    margin-bottom: 1rem;
    height: 12rem;
}


img{
    width: 2rem;
    object-fit: contain;
}

@media screen and (max-width: 900px) {
    .container {
        flex-direction: column;
    }
    .input-container,
    .display-container {
        margin-bottom: 1rem;
        width: 70%;
    }
    iframe{
        height: 8rem;
    }
}